<h3>{{model.query}}</h3>
<h4>asked by {{model.author}}</h4>
<p>{{model.details}}</p>

{{edit-question update="update" question=model}}

{{answer-question saveAnswer="saveAnswer" question=model}}

<h4>Answers:</h4>

<ul>
  {{#each answers as |answer|}}
    {{answer-tile answer=answer}}    
  {{/each}}
</ul>
