<h2>{{model.query}}</h2>
<h3>asked by {{model.author}}</h3>
<p>{{model.details}}</p>

{{edit-question update="update" question=model}}

{{answer-question saveAnswer="saveAnswer" question=model}}

<h3>Answers:</h3>
<ul>
  {{#each question.answers as |answer|}}
    <li>
      <strong>{{answer.author}}</strong> said: <i>{{answer.response}}</i>
    </li>
  {{/each}}
</ul>
